<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
# !pip install sqlalchemy==1.4
# !pip install ipython-sql
# !pip install pandas

In [3]:
import warnings
warnings.filterwarnings("ignore")

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
# %load_ext sql

In [1]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
# %sql sqlite:///my_data1.db

In [ ]:
# Creating and saving the dataset
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [5]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [6]:
# Examening the dataset Customer feature
df[df["Customer"]=="NASA (CRS)"]

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
8,2014-04-18,19:25:00,F9 v1.1,CCAFS LC-40,SpaceX CRS-3,2296,LEO (ISS),NASA (CRS),Success,Controlled (ocean)
12,2014-09-21,5:52:00,F9 v1.1 B1010,CCAFS LC-40,SpaceX CRS-4,2216,LEO (ISS),NASA (CRS),Success,Uncontrolled (ocean)
13,2015-01-10,9:47:00,F9 v1.1 B1012,CCAFS LC-40,SpaceX CRS-5,2395,LEO (ISS),NASA (CRS),Success,Failure (drone ship)
16,2015-04-14,20:10:00,F9 v1.1 B1015,CCAFS LC-40,SpaceX CRS-6,1898,LEO (ISS),NASA (CRS),Success,Failure (drone ship)
18,2015-06-28,14:21:00,F9 v1.1 B1018,CCAFS LC-40,SpaceX CRS-7,1952,LEO (ISS),NASA (CRS),Failure (in flight),Precluded (drone ship)
22,2016-04-08,20:43:00,F9 FT B1021.1,CCAFS LC-40,SpaceX CRS-8,3136,LEO (ISS),NASA (CRS),Success,Success (drone ship)
26,2016-07-18,4:45:00,F9 FT B1025.1,CCAFS LC-40,SpaceX CRS-9,2257,LEO (ISS),NASA (CRS),Success,Success (ground pad)
29,2017-02-19,14:39:00,F9 FT B1031.1,KSC LC-39A,SpaceX CRS-10,2490,LEO (ISS),NASA (CRS),Success,Success (ground pad)
34,2017-06-03,21:07:00,F9 FT B1035.1,KSC LC-39A,SpaceX CRS-11,2708,LEO (ISS),NASA (CRS),Success,Success (ground pad)
38,2017-08-14,16:31:00,F9 B4 B1039.1,KSC LC-39A,SpaceX CRS-12,3310,LEO (ISS),NASA (CRS),Success,Success (ground pad)
44,2017-12-15,15:36:00,F9 FT B1035.2,CCAFS SLC-40,SpaceX CRS-13,2205,LEO (ISS),NASA (CRS),Success,Success (ground pad)
51,2018-04-02,20:30:00,F9 B4 B1039.2,CCAFS SLC-40,SpaceX CRS-14,2647,LEO (ISS),NASA (CRS),Success,No attempt
56,2018-06-29,9:42:00,F9 B4 B1045.2,CCAFS SLC-40,SpaceX CRS-15,2697,LEO (ISS),NASA (CRS),Success,No attempt
64,2018-12-05,18:16:00,F9 B5B1050,CCAFS SLC-40,SpaceX CRS-16,2500,LEO (ISS),NASA (CRS),Success,Failure
69,2019-05-04,6:48:00,F9 B5B1056.1,CCAFS SLC-40,"SpaceX CRS-17, Starlink v0.9",2495,LEO (ISS),NASA (CRS),Success,Success
72,2019-07-25,22:01:00,F9 B5 B1056.2,CCAFS SLC-40,"SpaceX CRS-18, AMOS-17",2268,LEO (ISS),NASA (CRS),Success,Success
81,2020-03-07,4:50:00,F9 B5 B1059.2,CCAFS SLC-40,"SpaceX CRS-20, Starlink 5 v1.0",1977,LEO (ISS),NASA (CRS),Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

**Note:This below code is added to remove blank rows from table**

In [ ]:
# %sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

In [ ]:
# Execute this if the table does not exist in the database
# cur.execute("create table SPACEXTABLE as select * from SPACEXTBL where Date is not null")

In [8]:
# Fetching the table names
cur.execute("select name from sqlite_master where type='table'").fetchall()

[('SPACEXTABLE',), ('SPACEXTBL',)]

In [30]:
# Printing the table schema
cur.execute("pragma table_info(SPACEXTABLE)").fetchall()

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time (UTC)', 'TEXT', 0, None, 0),
 (2, 'Booster_Version', 'TEXT', 0, None, 0),
 (3, 'Launch_Site', 'TEXT', 0, None, 0),
 (4, 'Payload', 'TEXT', 0, None, 0),
 (5, 'PAYLOAD_MASS__KG_', 'INT', 0, None, 0),
 (6, 'Orbit', 'TEXT', 0, None, 0),
 (7, 'Customer', 'TEXT', 0, None, 0),
 (8, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (9, 'Landing_Outcome', 'TEXT', 0, None, 0)]

In [38]:
# Exploring the Launch site counts
pd.read_sql(con=con, sql="select * from SPACEXTABLE")["Launch_Site"].value_counts()

Launch_Site
CCAFS SLC-40    34
CCAFS LC-40     26
KSC LC-39A      25
VAFB SLC-4E     16
Name: count, dtype: int64

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
# Selecting the unique launch sites
cur.execute("select distinct Launch_Site from SPACEXTABLE").fetchall()

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [ ]:
# Filtering the data for KSC launch sites
pd.read_sql(con=con, sql="select * from SPACEXTABLE where Launch_Site like '%KSC%' limit 5;")

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2017-02-19,14:39:00,F9 FT B1031.1,KSC LC-39A,SpaceX CRS-10,2490,LEO (ISS),NASA (CRS),Success,Success (ground pad)
1,2017-03-16,6:00:00,F9 FT B1030,KSC LC-39A,EchoStar 23,5600,GTO,EchoStar,Success,No attempt
2,2017-03-30,22:27:00,F9 FT B1021.2,KSC LC-39A,SES-10,5300,GTO,SES,Success,Success (drone ship)
3,2017-05-01,11:15:00,F9 FT B1032.1,KSC LC-39A,NROL-76,5300,LEO,NRO,Success,Success (ground pad)
4,2017-05-15,23:21:00,F9 FT B1034,KSC LC-39A,Inmarsat-5 F4,6070,GTO,Inmarsat,Success,No attempt

In [11]:
# Exploring the same, but with the cursor
cur.execute("select * from SPACEXTABLE where Launch_Site like '%KSC%'").fetchall()

[('2017-02-19',
  '14:39:00',
  'F9 FT B1031.1',
  'KSC LC-39A',
  'SpaceX CRS-10',
  2490,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('2017-03-16',
  '6:00:00',
  'F9 FT B1030',
  'KSC LC-39A',
  'EchoStar 23',
  5600,
  'GTO',
  'EchoStar',
  'Success',
  'No attempt'),
 ('2017-03-30',
  '22:27:00',
  'F9 FT  B1021.2',
  'KSC LC-39A',
  'SES-10',
  5300,
  'GTO',
  'SES',
  'Success',
  'Success (drone ship)'),
 ('2017-05-01',
  '11:15:00',
  'F9 FT B1032.1',
  'KSC LC-39A',
  'NROL-76',
  5300,
  'LEO',
  'NRO',
  'Success',
  'Success (ground pad)'),
 ('2017-05-15',
  '23:21:00',
  'F9 FT B1034',
  'KSC LC-39A',
  'Inmarsat-5 F4',
  6070,
  'GTO',
  'Inmarsat',
  'Success',
  'No attempt'),
 ('2017-06-03',
  '21:07:00',
  'F9 FT B1035.1',
  'KSC LC-39A',
  'SpaceX CRS-11',
  2708,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('2017-06-23',
  '19:10:00',
  'F9 FT  B1029.2',
  'KSC LC-39A',
  'BulgariaSat-1',
  3669,
  'GTO',
  'Bulsatcom',
  'Success',
  'Success (drone ship)'),
 ('2017-07-05',
  '23:38:00',
  'F9 FT B1037',
  'KSC LC-39A',
  'Intelsat 35e',
  6761,
  'GTO',
  'Intelsat',
  'Success',
  'No attempt'),
 ('2017-08-14',
  '16:31:00',
  'F9 B4 B1039.1',
  'KSC LC-39A',
  'SpaceX CRS-12',
  3310,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('2017-09-07',
  '14:00:00',
  'F9 B4 B1040.1',
  'KSC LC-39A',
  'Boeing X-37B OTV-5',
  4990,
  'LEO',
  'U.S. Air Force',
  'Success',
  'Success (ground pad)'),
 ('2017-10-11',
  '22:53:00',
  'F9 FT  B1031.2',
  'KSC LC-39A',
  'SES-11 / EchoStar 105',
  5200,
  'GTO',
  'SES EchoStar',
  'Success',
  'Success (drone ship)'),
 ('2017-10-30',
  '19:34:00',
  'F9 B4 B1042.1',
  'KSC LC-39A',
  'Koreasat 5A',
  3500,
  'GTO',
  'KT Corporation',
  'Success',
  'Success (drone ship)'),
 ('2018-05-11',
  '20:14:00',
  'F9 B5  B1046.1',
  'KSC LC-39A',
  'Bangabandhu-1',
  3600,
  'GTO',
  'Thales-Alenia/BTRC',
  'Success',
  'Success (drone ship)'),
 ('2018-11-15',
  '20:46:00',
  'F9 B5 B1047.2',
  'KSC LC-39A',
  'Es hail 2',
  5300,
  'GTO',
  'Es hailSat',
  'Success',
  'Success'),
 ('2019-03-02',
  '7:49:00',
  'F9 B5B1051.1',
  'KSC LC-39A',
  'Crew Dragon Demo-1, SpaceX CRS-17 ',
  12055,
  'LEO (ISS)',
  'NASA (CCD) ',
  'Success',
  'Success'),
 ('2020-01-19',
  '15:30:00',
  'F9 B5 B1046.4',
  'KSC LC-39A',
  'Crew Dragon in-flight abort test, Starlink 3 v1.0 ',
  12050,
  'Sub-orbital',
  'NASA (CTS)',
  'Success',
  'No attempt'),
 ('2020-03-18',
  '12:16:00',
  'F9 B5 B1048.5',
  'KSC LC-39A',
  'Starlink 5 v1.0, Starlink 6 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Failure'),
 ('2020-04-22',
  '19:30:00',
  'F9 B5 B1051.4',
  'KSC LC-39A',
  'Starlink 6 v1.0, Crew Dragon Demo-2 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2020-05-30',
  '19:22:00',
  'F9 B5B1058.1 ',
  'KSC LC-39A',
  'Crew Dragon Demo-2, Starlink 7 v1.0 ',
  12530,
  'LEO (ISS)',
  'NASA (CCDev)',
  'Success',
  'Success'),
 ('2020-08-07',
  '5:12:00',
  'F9 B5 B1051.5',
  'KSC LC-39A',
  'Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0 ',
  14932,
  'LEO',
  'SpaceX, Spaceflight Industries (BlackSky), Planet Labs',
  'Success',
  'Success'),
 ('2020-09-03',
  '12:46:14',
  'F9 B5 B1060.2 ',
  'KSC LC-39A',
  'Starlink 11 v1.0, Starlink 12 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2020-10-06',
  '11:29:34',
  'F9 B5 B1058.3 ',
  'KSC LC-39A',
  'Starlink 12 v1.0, Starlink 13 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2020-10-18',
  '12:25:57',
  'F9 B5 B1051.6',
  'KSC LC-39A',
  'Starlink 13 v1.0, Starlink 14 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2020-11-16',
  '0:27:00',
  'F9 B5B1061.1 ',
  'KSC LC-39A',
  'Crew-1, Sentinel-6 Michael Freilich ',
  12500,
  'LEO (ISS)',
  'NASA (CCP)',
  'Success',
  'Success'),
 ('2020-12-06',
  '16:17:08',
  'F9 B5 B1058.4 ',
  'KSC LC-39A',
  'SpaceX CRS-21',
  2972,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [12]:
# Grouping the customers and obtaining the sum of the mass
cur.execute("select Customer, sum(PAYLOAD_MASS__KG_) as total_payload from SPACEXTABLE group by Customer").fetchall()

[('ABS Eutelsat', 7759),
 ('AsiaSat', 8963),
 ('Bulsatcom', 3669),
 ('CONAE', 3000),
 ('CONAE, PlanetIQ, SpaceX', 3130),
 ('Canadian Space Agency (CSA)', 4200),
 ('EchoStar', 5600),
 ('Es hailSat', 5300),
 ('Hisdesat exactEarth SpaceX', 2150),
 ('Hispasat  NovaWurks', 6092),
 ('Inmarsat', 6070),
 ('Intelsat', 6761),
 ('Iridium Communications', 67200),
 ('Iridium Communications GFZ â€š NASA', 6460),
 ('KT Corporation', 3500),
 ('MDA', 500),
 ('NASA (CCD) ', 12055),
 ('NASA (CCDev)', 12530),
 ('NASA (CCP)', 12500),
 ('NASA (COTS)', 525),
 ('NASA (COTS) NRO', 0),
 ('NASA (CRS)', 45596),
 ('NASA (CRS), Kacific 1', 2617),
 ('NASA (CTS)', 12050),
 ('NASA (LSP)', 362),
 ('NASA (LSP) NOAA CNES', 553),
 ('NASA / NOAA / ESA / EUMETSAT', 1192),
 ('NRO', 5300),
 ('NSPO', 475),
 ('Northrop Grumman', 5000),
 ('Orbcomm', 3350),
 ('PSN, SpaceIL / IAI', 4850),
 ('Republic of Korea Army, Spaceflight Industries (BlackSky)', 5500),
 ('SES', 23355),
 ('SES EchoStar', 5200),
 ('SKY Perfect JSAT Group', 9296),
 ('Sky Perfect JSAT, Kacific 1', 6956),
 ('SpaceX', 185220),
 ('SpaceX, Planet Labs', 31010),
 ('SpaceX, Planet Labs, PlanetIQ', 15440),
 ('SpaceX, Spaceflight Industries (BlackSky), Planet Labs', 14932),
 ('Spacecom', 6500),
 ('Spaceflight Industries', 4000),
 ('Telesat', 14135),
 ('Telkom Indonesia', 5800),
 ('Thaicom', 6425),
 ('Thales-Alenia/BTRC', 3600),
 ('Turkmenistan National Space Agency', 4707),
 ('U.S. Air Force', 4990),
 ('U.S. Air Force NASA NOAA', 570),
 ('U.S. Space Force', 4311),
 ('USAF', 4400),
 ('USSF', 4311)]

In [13]:
# Calculating the NASA (CRS) payload mass sum
cur.execute("select Customer, sum(PAYLOAD_MASS__KG_) as total_payload from SPACEXTABLE where Customer='NASA (CRS)'").fetchall()

[('NASA (CRS)', 45596)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [57]:
cur.execute("select Booster_Version, avg(PAYLOAD_MASS__KG_) as average_payload from SPACEXTABLE group by Booster_Version").fetchall()

[('F9 B4  B1039.2', 2647.0),
 ('F9 B4  B1040.2', 5384.0),
 ('F9 B4  B1041.2', 9600.0),
 ('F9 B4  B1043.2', 6460.0),
 ('F9 B4 B1039.1', 3310.0),
 ('F9 B4 B1040.1', 4990.0),
 ('F9 B4 B1041.1', 9600.0),
 ('F9 B4 B1042.1', 3500.0),
 ('F9 B4 B1043.1', 5000.0),
 ('F9 B4 B1044', 6092.0),
 ('F9 B4 B1045.1', 362.0),
 ('F9 B4 B1045.2', 2697.0),
 ('F9 B5  B1046.1', 3600.0),
 ('F9 B5 B1046.2', 5800.0),
 ('F9 B5 B1046.3', 4000.0),
 ('F9 B5 B1046.4', 12050.0),
 ('F9 B5 B1047.2', 5300.0),
 ('F9 B5 B1047.3 ', 6500.0),
 ('F9 B5 B1048.2', 3000.0),
 ('F9 B5 B1048.3', 4850.0),
 ('F9 B5 B1048.4', 15600.0),
 ('F9 B5 B1048.5', 15600.0),
 ('F9 B5 B1049.2', 9600.0),
 ('F9 B5 B1049.3', 13620.0),
 ('F9 B5 B1049.4', 15600.0),
 ('F9 B5 B1049.5', 15600.0),
 ('F9 B5 B1049.6', 15440.0),
 ('F9 B5 B1049.7 ', 15600.0),
 ('F9 B5 B1051.2 ', 4200.0),
 ('F9 B5 B1051.3', 15600.0),
 ('F9 B5 B1051.4', 15600.0),
 ('F9 B5 B1051.5', 14932.0),
 ('F9 B5 B1051.6', 15600.0),
 ('F9 B5 B1056.2 ', 2268.0),
 ('F9 B5 B1056.3 ', 6956.0),
 ('F9 B5 B1056.4', 15600.0),
 ('F9 B5 B1058.2 ', 5500.0),
 ('F9 B5 B1058.3 ', 15600.0),
 ('F9 B5 B1058.4 ', 2972.0),
 ('F9 B5 B1059.2', 1977.0),
 ('F9 B5 B1059.3', 15410.0),
 ('F9 B5 B1059.4', 3130.0),
 ('F9 B5 B1060.2 ', 15600.0),
 ('F9 B5 B1060.3', 15600.0),
 ('F9 B5B1047.1', 7075.0),
 ('F9 B5B1048.1', 9600.0),
 ('F9 B5B1049.1', 7060.0),
 ('F9 B5B1050', 2500.0),
 ('F9 B5B1051.1', 12055.0),
 ('F9 B5B1054', 4400.0),
 ('F9 B5B1056.1 ', 2495.0),
 ('F9 B5B1058.1 ', 12530.0),
 ('F9 B5B1059.1', 2617.0),
 ('F9 B5B1060.1', 4311.0),
 ('F9 B5B1061.1 ', 12500.0),
 ('F9 B5B1062.1', 4311.0),
 ('F9 B5B1063.1', 1192.0),
 ('F9 FT  B1021.2', 5300.0),
 ('F9 FT  B1029.2', 3669.0),
 ('F9 FT  B1031.2', 5200.0),
 ('F9 FT  B1032.2', 4230.0),
 ('F9 FT  B1035.2', 2205.0),
 ('F9 FT  B1036.2', 9600.0),
 ('F9 FT  B1038.2', 2150.0),
 ('F9 FT B1019', 2034.0),
 ('F9 FT B1020', 5271.0),
 ('F9 FT B1021.1', 3136.0),
 ('F9 FT B1022', 4696.0),
 ('F9 FT B1023.1', 3100.0),
 ('F9 FT B1024', 3600.0),
 ('F9 FT B1025.1', 2257.0),
 ('F9 FT B1026', 4600.0),
 ('F9 FT B1029.1', 9600.0),
 ('F9 FT B1030', 5600.0),
 ('F9 FT B1031.1', 2490.0),
 ('F9 FT B1032.1', 5300.0),
 ('F9 FT B1034', 6070.0),
 ('F9 FT B1035.1', 2708.0),
 ('F9 FT B1036.1', 9600.0),
 ('F9 FT B1037', 6761.0),
 ('F9 FT B1038.1', 475.0),
 ('F9 v1.0  B0003', 0.0),
 ('F9 v1.0  B0004', 0.0),
 ('F9 v1.0  B0005', 525.0),
 ('F9 v1.0  B0006', 500.0),
 ('F9 v1.0  B0007', 677.0),
 ('F9 v1.1', 2928.4),
 ('F9 v1.1  B1003', 500.0),
 ('F9 v1.1 B1010', 2216.0),
 ('F9 v1.1 B1011', 4428.0),
 ('F9 v1.1 B1012', 2395.0),
 ('F9 v1.1 B1013', 570.0),
 ('F9 v1.1 B1014', 4159.0),
 ('F9 v1.1 B1015', 1898.0),
 ('F9 v1.1 B1016', 4707.0),
 ('F9 v1.1 B1017', 553.0),
 ('F9 v1.1 B1018', 1952.0)]

In [63]:
# Calculating the overall average payload mass
print(cur.execute("select Booster_Version, avg(PAYLOAD_MASS__KG_) as average_payload from SPACEXTABLE where Booster_Version like '%F9 v1.1%'").fetchall())

[('F9 v1.1  B1003', 2534.6666666666665)]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [15]:
filtered_df = df[
    (df["Landing_Outcome"] == "Success (drone ship)") &
    (df["Customer"] == "NASA (CRS)")
]

In [16]:
filtered_df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
22,2016-04-08,20:43:00,F9 FT B1021.1,CCAFS LC-40,SpaceX CRS-8,3136,LEO (ISS),NASA (CRS),Success,Success (drone ship)

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [17]:
ground_par_query = """Select distinct Booster_Version
from SPACEXTABLE
where Landing_Outcome = 'Success (ground pad)'
  and PAYLOAD_MASS__KG_ > 4000
  and PAYLOAD_MASS__KG_ < 6000;
"""

In [18]:
cur.execute(ground_par_query).fetchall()

[('F9 FT B1032.1',), ('F9 B4 B1040.1',), ('F9 B4 B1043.1',)]

In [19]:
pd.read_sql(con=con, sql=ground_par_query)

  Booster_Version
0   F9 FT B1032.1
1   F9 B4 B1040.1
2   F9 B4 B1043.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [20]:
failure_succes_query = """select 
    (select count(*)
     from SPACEXTABLE
     where Mission_Outcome like 'Success%'
    ) as total_success,
    
    (select count(*)
     from SPACEXTABLE
     where Mission_Outcome like 'Fail%'
    ) as total_failure;
"""

In [21]:
cur.execute(failure_succes_query).fetchall()

[(100, 1)]

In [22]:
df["Mission_Outcome"].value_counts()

Mission_Outcome
Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: count, dtype: int64

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [23]:
max_payload_query = """select Booster_Version
from SPACEXTABLE
where PAYLOAD_MASS__KG_ = (
    select MAX(PAYLOAD_MASS__KG_)
    from SPACEXTABLE
);
"""

In [24]:
cur.execute(max_payload_query).fetchall()

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [28]:
success_byYear_query = """SELECT 
    CASE substr(Date, 6, 2)
        WHEN '01' THEN 'January'
        WHEN '02' THEN 'February'
        WHEN '03' THEN 'March'
        WHEN '04' THEN 'April'
        WHEN '05' THEN 'May'
        WHEN '06' THEN 'June'
        WHEN '07' THEN 'July'
        WHEN '08' THEN 'August'
        WHEN '09' THEN 'September'
        WHEN '10' THEN 'October'
        WHEN '11' THEN 'November'
        WHEN '12' THEN 'December'
    END AS month_name,
    Landing_Outcome,
    Booster_Version,
    Launch_Site
FROM SPACEXTABLE
WHERE 
    Landing_Outcome = 'Success (ground pad)'
    AND substr(Date, 1, 4) = '2017';
"""

In [29]:
pd.read_sql(con=con, sql=success_byYear_query)

  month_name       Landing_Outcome Booster_Version   Launch_Site
0   February  Success (ground pad)   F9 FT B1031.1    KSC LC-39A
1        May  Success (ground pad)   F9 FT B1032.1    KSC LC-39A
2       June  Success (ground pad)   F9 FT B1035.1    KSC LC-39A
3     August  Success (ground pad)   F9 B4 B1039.1    KSC LC-39A
4  September  Success (ground pad)   F9 B4 B1040.1    KSC LC-39A
5   December  Success (ground pad)  F9 FT  B1035.2  CCAFS SLC-40

In [30]:
cur.execute(success_byYear_query).fetchall()

[('February', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('May', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('June', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('August', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('September', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('December', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [31]:
rankin_query = """SELECT 
    Landing_Outcome,
    COUNT(*) AS outcome_count
FROM SPACEXTABLE
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY outcome_count DESC;
"""

In [32]:
pd.read_sql(con=con, sql=rankin_query)

          Landing_Outcome  outcome_count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

In [33]:
cur.execute(rankin_query).fetchall()

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

In [34]:
test_quer = """SELECT payload_mass__kg_ 
FROM SPACEXTBL 
WHERE payload_mass__kg_ = (
    SELECT MIN(payload_mass__kg_) 
    FROM SPACEXTBL
)
LIMIT 1
"""

In [35]:
cur.execute(test_quer).fetchall()

[(0,)]

In [36]:
df["PAYLOAD_MASS__KG_"].min()

np.int64(0)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>